dist: xenial

language: python

python:
  - "2.7"
  - "3.6"

cache:
  directories:
    - $GDALINST
    - ~/.cache/pip

env:
  global:
    - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
    - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
    - GDALINST=$HOME/gdalinstall
    - GDALBUILD=$HOME/gdalbuild
    - PROJINST=$HOME/gdalinstall
    - PROJBUILD=$HOME/projbuild
  matrix:
    - GDALVERSION="1.11.5" PROJVERSION="4.8.0"
    - GDALVERSION="2.0.3" PROJVERSION="4.9.3"
    - GDALVERSION="2.1.4" PROJVERSION="4.9.3"
    - GDALVERSION="2.2.4" PROJVERSION="4.9.3"
    - GDALVERSION="2.3.3" PROJVERSION="4.9.3"
    - GDALVERSION="2.4.2" PROJVERSION="4.9.3"
    - GDALVERSION="3.0.1" PROJVERSION="6.1.1"
    - GDALVERSION="master" PROJVERSION="6.1.1"

matrix:
  allow_failures:
    - env: GDALVERSION="master" PROJVERSION="6.1.1"

addons:
  apt:
    packages:
    - libgdal-dev
    - libatlas-dev
    - libatlas-base-dev
    - gfortran
    - libsqlite3-dev
    - sqlite3

before_install:
  - pip install -U pip
  - pip install wheel coveralls>=1.1 --upgrade
  - pip install setuptools==36.0.1
  - pip install wheel
  - . ./scripts/travis_proj_install.sh
  - . ./scripts/travis_gdal_install.sh
  - export GDAL_DATA=$GDALINST/gdal-$GDALVERSION/share/gdal
  - export PROJ_LIB=$GDALINST/proj-$PROJVERSION/share/proj
  - gdal-config --version

install:
  - if [ "$GDALVERSION" = "trunk" ]; then echo "Using gdal trunk"; elif [ $(gdal-config --version) == "$GDALVERSION" ]; then echo "Using gdal $GDALVERSION"; else echo "NOT using gdal $GDALVERSION as expected; aborting"; exit 1; fi
  - "python -m pip wheel -r requirements-dev.txt"
  - "python -m pip install -r requirements-dev.txt"
  - "GDAL_CONFIG=$GDALINST/gdal-$GDALVERSION/bin/gdal-config python -m pip install --upgrade --force-reinstall --no-use-pep517 -e .[test]"
  - fio --version
  - gdal-config --version
  - fio --gdal-version
  - "python -m pip list"

script:
  - python -m pytest -m "not wheel" --cov fiona --cov-report term-missing

after_success:
  - coveralls || echo "!! intermittent coveralls failure"

before_cache:
  - if [ "$GDALVERSION" = "trunk" ]; then rm -rf $GDALINST/gdal-$GDALVERSION; fi
