global-exclude .DS_Store
global-exclude *.pyc
recursive-exclude docs/data *
recursive-exclude docs/_build *
recursive-exclude _build *
recursive-exclude venv *
exclude *.txt *.py
recursive-include docs *.rst *.txt
recursive-include tests *.py
recursive-include tests/data *
recursive-include fiona *.pyx *.pxd *.pxi
recursive-exclude fiona *.c *.cpp
include CHANGES.txt CITATION.cff CREDITS.txt LICENSE.txt README.rst
include pyproject.toml setup.py requirements.txt
