-r requirements.txt
# update setup.py if pinned version need to be changed
boto3==1.5.0
pytest==5.0.1
pytest-cov==2.7.1
# dependencies not in setup.py
coverage==4.5.1
cython==0.29.14
setuptools==41.6.0
wheel==0.33.6
