name: rstcheck

# Run this workflow every time a new commit pushed to your repository
on: [push, pull_request]

jobs:
  rstcheck:
    name: rstcheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Python dependencies
        run: |
          python -m pip install sphinx==3.2.1 rstcheck==3.3.1

      - name: Run rstcheck
        run: |
          rstcheck -r --ignore-directives automodule --ignore-substitutions version,release,today .
